<h3 class="suggesthead">Contribute code!</h3>
<p>If you want to contribute to the code directly (to implement one of the suggested features or an idea of your own), you can
do so by making a <a href="https://help.github.com/articles/about-pull-requests/">pull requests</a> to the
    <a href="https://github.com/Jerenaux/ensemble/pulls">Github repository</a> of the project (no need to
    open an issue first).</p>
<p>If you don't have experience with pull requests, have a look at <a href="https://www.thinkful.com/learn/github-pull-request-tutorial/">Thinkful's great tutorial</a> on the subject.</p>
<p> In the future, this tab will display more information
about pull requests using the pull request API.</p>